* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

#div {
    height: 100vh;
    width: 100vw;

}


.section-esquerdo {
    display: inline-block;
    width: 60%;
    position: relative;
    top: 100px;
    left: 200px;
}

.section-direito {
    display: inline-block;
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;

}

img {
    position: relative;
    top: 14%;
    right: 140px;
}

.link-header {
    margin-top: 24px;
    margin-right: 41px;
    margin-left: 57px;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    cursor: pointer;

}

.link-header:nth-child(2) {
    color: #5D5D7D;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #5D5D7D;
    width: 368px;
}

p {
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #5D5D7D;
    width: 540px;
    margin-top: 15px;
    margin-bottom: 15px;
    opacity: 0.6;
}

button {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #ffffff;
    width: 269px;
    height: 62px;
    background: #9499EA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:active {
    opacity: 0.16;
    ;
}

@media screen and (max-width: 900px) {

    .section-esquerdo {
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
        position: static;

    }

    .section-direito {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding-left: 40px;

    }

    img {
        position: static;
        max-width: 90%;

    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }

    button {
        margin: 0 auto 50px;
        display: block;



    }









}